# Archivos compilados
target/
*.class

# Archivos de configuración de IDE
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# Archivos de logs
*.log

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de Maven
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Otros archivos temporales
*~
*.swp
*.bak